<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>疫情地图</title>
</head>
<body>
<h2>截止至2022年9月6日</h2>
<div id="map"
     style="width: 700px; height: 700px;position:absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;"></div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="../../../static/js/echarts.min.js"></script>
<script type="text/javascript" src="../../../static/js/china.js"></script>
<script type="text/javascript" th:inline="none">
    var map = echarts.init(document.getElementById('map'));//初始化
    var COLORS = ["#ffffff", "#faebd2", "#e9a188", "#d56355", "#bb3937", "#772526", "#480f10"];//图例里的颜色
    var dataList = [//数据
        {name: "南海诸岛", value: 2628},
        {name: '北京', value: 53},
        {name: '天津', value: 72},
        {name: '上海', value: 78},
        {name: '重庆', value: 62},
        {name: '河北', value: 17},
        {name: '河南', value: 49},
        {name: '云南', value: 25},
        {name: '辽宁', value: 82},
        {name: '黑龙江', value: 163},
        {name: '湖南', value: 16},
        {name: '安徽', value: 1},
        {name: '山东', value: 59},
        {name: '新疆', value: 2},
        {name: '江苏', value: 12},
        {name: '浙江', value: 49},
        {name: '江西', value: 16},
        {name: '湖北', value: 6},
        {name: '广西', value: 3},
        {name: '甘肃', value: 4},
        {name: '山西', value: 24},
        {name: '内蒙古', value: 166},
        {name: '陕西', value: 129},
        {name: '吉林', value: 36},
        {name: '福建', value: 136},
        {name: '贵州', value: 9},
        {name: '广东', value: 662},
        {name: '青海', value: 42},
        {name: '西藏', value: 690},
        {name: '四川', value: 1314},
        {name: '宁夏', value: 0},
        {name: '海南', value: 2300},
        {name: '台湾', value: 5479868},
        {name: '香港', value: 307531},
        {name: '澳门', value: 0}
    ]

    var option = {//配置项（名称）

        tooltip: {//提示框组件
            formatter: function (params, ticket, callback) {//提示框浮层内容格式器，支持字符串模板和回调函数两种形式。
                return params.seriesName + '<br />' + params.name + '：' + params.value + '人'
            }//数据格式化
        },
        backgroundColor: '#eeeeee',//背景色
        visualMap: {//visualMap 是视觉映射组件，用于进行『视觉编码』，也就是将数据映射到视觉元素（视觉通道）。
            type: 'piecewise',//分段型视觉映射组件
            orient: 'horizontal',//方向

            left: 'left',//位置
            top: 'bottom',//位置

            pieces: [{//自定义『分段式视觉映射组件』的每一段的范围，以及每一段的文字，以及每一段的特别的样式。
                value: 0, color: COLORS[0]
            }, {
                min: 1, max: 9, color: COLORS[1]
            }, {
                min: 10, max: 99, color: COLORS[2]
            }, {
                min: 100, max: 499, color: COLORS[3]
            }, {
                min: 500, max: 999, color: COLORS[4]
            }, {
                min: 1000, max: 10000, color: COLORS[5]
            }, {
                min: 10000, color: COLORS[6]
            }],
            inRange: {
                color: COLORS //取值范围的颜色
            },

            show: true//图注
        },
        geo: {//地理坐标系组件用于地图的绘制
            map: 'china',
            roam: false,//不开启缩放和平移
            zoom: 1.23,//视角缩放比例
            label: {
                normal: {
                    show: true,
                    fontSize: '10',
                    color: 'rgba(0,0,0,0.7)'
                }
            },
            itemStyle: {
                normal: {
                    borderColor: 'rgba(0, 0, 0, 0.2)'
                },
                emphasis: {
                    areaColor: '#F3B329',//鼠标选择区域颜色
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowBlur: 20,
                    borderWidth: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series: [//系列列表。（图表）
            {
                name: '现有确诊',
                type: 'map',//图表类型
                geoIndex: 0,
                data: dataList//图表的数据
            }
        ]
    }

    map.setOption(option);//用配置项配置（动词）echarts
</script>
</body>
</html>